.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 50%;
    margin: auto;

    .carousel-item-wrapper {
        height: 20rem;
        min-width: 100%;
        width: 100%;
        transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}